body {
    width: calc(100% - 80px);
    max-width: 1500px;
    margin: 20px auto;
}

#header {
    background-color: black
}

#main {
    margin-top: 200px;
    text-align: justify;
}

#main p {
    font-size: 26px;
}